<div class="row">
  <div class="col-12 col-sm-6">
    <p>Payment methods</p>
  </div>
  <div class="col-12 col-sm-6 pay-option-cards">
    <div class="pay-option-bordered">
      <span class="choice-circle"></span>
      <p clas='pay-option-bordered'>E-Money</p>
    </div>
    <div class="pay-option-bordered">
      <span class="choice-circle"></span>
      <p clas='pay-option-bordered'>Cash on delivery</p>
    </div>
  </div>
</div>
<!--
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <%= form.label :e_money_number, "e-Money number", class: "form-header-bold" %>
        <%= form.text_field :e_money_number, class: 'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :e_money_pin, "e-money PIN", class: "form-header-bold" %>
        <%= form.text_field :e_money_pin, class: 'form-control' %>
      </div>
    </div>
  </div>
-->
