<div class="main-banner" style="background-image: url('<%= @banner_image_url %>'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="banner-content">
    <p class='third-header'>NEW PRODUCT</p>
    <h1 class="main-header"><%= @banner_product.name.upcase %></h1>
    <p class='sub-header'><%= @banner_product.description %></p>
    <%= link_to  "See product", category_product_path(@banner_product.category, @banner_product), class: 'home-btn' %>
  </div>
</div>
