<div class="cards row">
  <% @categories.each do |category| %>
      <div class="card-product">
        <%= cl_image_tag category.photo.key, width: '60%', class: 'card-image' %>
        <h3 class="card-title"><%= category.name.upcase %></h3>
        <div class="bottom-link d-flex align-items-center justify-content-center">
          <%= link_to  "Shop", category_path(category), class: 'card-link mr-2' %>
          <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693653/icon-arrow-right.png" %>
        </div>
      </div>
  <% end %>
</div>