<nav class="nav-main nav-bg">
  <div class="my-menu">
    <p class="line"></p>
    <p class="line"></p>
    <p class="line"></p>
  </div>
  <a href="#">
    <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693702/logo.png" %>
  </a>
  
  <div class="nav-menu">
    <a href="#" class="navbar-link mx-4">Home</a>
    <a href="#" class="navbar-link mx-4">Headphones</a>
    <a href="#" class="navbar-link mx-4">Speakers</a>
    <a href="#" class="navbar-link mx-4">Earphones</a>
  </div>
  <a href="#">
    <%= image_tag "http://res.cloudinary.com/seguraocode/image/upload/v1632693479/icon-cart.png" %>
  </a>
</nav>