<div class="mobile-menu mobile-not-visible" id="menu-action">
  <%= link_to  "Home", root_path, class: "navbar-link mx-4" %>
  <%= link_to  "Headphones", category_path(Category.find_by(name: 'headphones')), class: "navbar-link mx-4" %>
  <%= link_to  "Speakers", category_path(Category.find_by(name: 'speakers')), class: "navbar-link mx-4" %>
  <%= link_to  "Earphones", category_path(Category.find_by(name: 'earphones')), class: "navbar-link mx-4" %>
</div>