.main-banner {
	background-size: cover;
	background-position-y: -8rem;
	height: 70vh;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
  // margin-bottom: 4rem;
  text-align: center;
}

.third-header {
  opacity: .7;
}


.banner-content {
	color: white;
}

.sub-header {
  opacity: .7;
}


@media (min-width: 700px) {
  .main-banner {
    height: 45vh;
    background-size: 48rem;
	  background-position-y: -6.7rem;
    background-position-x: 8rem;
    text-align: center;

  }
  .main-header {
    font-size: 4rem;
  }
  .banner-content {
    padding: 0 17rem;
  }
}

@media (min-width: 1200px) {
  .main-banner {
    height: 80vh;
    background-size: cover;
    background-position-y: -10rem;
    text-align: left;
    padding: 0 0;
  }
  .banner-content {
    padding: 0 45% 0 0;
  }
}
