.card-product {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  // align-items: center;
  background-color: $light-gray;
  // height: 70%;
  // margin-bottom: 72px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  padding-bottom: 24px;
  margin: 22px 0 48px 0;
}

.card-image {
	margin: auto 40px;
	margin-top: -60px;
	padding: 12px;
}

.bg-orange {
  background-color: #D87C49;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: -26px;
}

.card-link {
  text-decoration: none;
  text-align: center;
  color: rgb(170,170,170);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: white;
}


.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 1rem;
}

.container > ul >li {
  margin-bottom: 4rem;
}

// font-weight: bold;
// font-size: 2rem;
// text-align: center;
// margin-top: 1rem;

.product-image {
  width: 100%;
  margin-bottom: 12px;
}

.product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  h3 {
    font-weight: bold;
    font-size: 2rem;
    // text-align: center;
  }
  p {
    margin-bottom: 2rem;
  }
}

.product-description {
  text-align: start;
	margin-top: 24px;
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 1rem;
    color: #DC7D4E;
    letter-spacing: 0.3rem;
    margin-bottom: 12px;
  }
  .price {
    font-weight: bold;
    letter-spacing: 0.15rem;
  }
}

.product-action {
  margin: 24px auto;
  text-align: center;
  span {
    background-color: $light-gray;
    padding: 12px 24px;
  }
}

@media (max-width: 992px) {
  .cards, .product-card {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  #category-product:nth-child(2n) {
    .product-card img {
      order: 1;
    }
  }
}
