.card-product {
  text-align: center;
  background-color: $light-gray;
  // height: 70%;
  // margin-bottom: 72px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  padding-bottom: 24px;
  margin: 28px 0;
}

.card-image {
	margin: auto 40px;
	margin-top: -60px;
	padding: 12px;
}

.bg-orange {
  background-color: #D87C49;
}

.card-title {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: -26px;
}

.card-link {
  text-decoration: none;
  text-align: center;
  color: rgb(170,170,170);
}

.cards {
  background-color: white;
}

.second-speaker {
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 20%;
}

.top-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 24px;
	text-align: center;
  border-radius: 8px;
}

.top-item-name {
  font-size: 36px;
	// font-weight: bold;
	color: white;
	padding: 0 70px;
	line-height: 32px;
	margin-top: 32px;
}

.top-item-description {
  color: white;
	opacity: .7;
}
