.may-like {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  
}
.may-like-card {
  margin-bottom: 4rem;
  text-align: center;
}

.may-like-card > img {
  margin-bottom: 1rem;
}

.small-name {
	font-weight: bold;
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.25rem;
}

@media (max-width: 576px) {
  .may-like{
    grid-template-columns: 1fr;
  }
  .may-like-card {
    margin-bottom: 2.5rem;
  }
}