.may-like {
  margin-bottom: 5rem;
}
.may-like-card {
  margin-bottom: 4rem;
  text-align: center;
}

.may-like-card > img {
  margin-bottom: 2rem;
}

.small-name {
	font-weight: bold;
	margin: 0;
	margin-bottom: 2rem;
	font-size: 1.25rem;
}