.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bg {
  background-color: rgb(25, 25, 25);
}

.nav-main {
  padding: 36px 18px;
  border-bottom: 4px rgb(126, 126, 126);
}

.all-time-visible {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.line {
  height: 4px;
  width: 36px;
  background-color: white;
  margin: 4px;
}

.my-menu-icon {
  display: none;
}

.menu-pb-mobile {
  padding: 36px 18px 18px 18px;
}

@media (min-width: 1200px) {
  .all-time-visible {
    padding: 0 10.25rem;
  }
}

@media (max-width: 576px) {
  .nav-main {
    justify-content: space-between;
  }
  .nav-menu {
    display: none;
  }
  .my-menu-icon {
    display: block;
  }
}

#cart {
  position: relative;
}

#number-holder {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
}

.quantity-circle {
  margin: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  font-size: 0.75rem;
}
