.top_earphone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  .earphone-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: $light-gray;
    padding: 5rem;
  }
  p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
  margin-bottom: 3rem;
}
// .top_earphone {
//   img {
//     margin-bottom: 1rem
//   }
//   .earphone-content {
//     border-radius: 8px;
//     background-color: $light-gray;
//     padding: 24px;
//   }
//   p {
//     font-size: 2rem;
//     font-weight: 500;
//     letter-spacing: 0.1rem;
//     margin-bottom: 2rem;
//   }
//   margin-bottom: 3rem;
// }


@media (max-width: 576px) {
  .top_earphone {
    grid-template-columns: 1fr;
    .earphone-content {
      padding: 24px;
      align-items: flex-start;
    }
  }
  
}