.top_earphone {
  img {
    margin-bottom: 1rem
  }
  .earphone-content {
    border-radius: 8px;
    background-color: $light-gray;
    padding: 24px;
  }
  p {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
  }
  margin-bottom: 3rem;
}
