<div class="container">
  <ul>
    <% @category.products.each do |product| %>
        <li>
          <div class="product-card">
            <%= image_tag product.get_main_image(session[:device]), class: 'product-image' %>
            <div class="product-content">
              <h3><%= product.name %></h3>
              <p><%= product.description %></p>
              <%= link_to  "SEE PRODUCT", product_path(product.id), class: 'home-btn' %>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
