<div class="container">
  <ul>
  <p><%= session[:device] %></p>
    <% if session[:device] == 'desktop' %>
      <%= render 'show_desktop' %>
    <% else %>
      <%= render 'show_mobile' %>
    <% end %>
  </ul>
</div>
