<div class="container">
  <ul>
    <% @category.products.each_with_index do |product, index| %>
      <li id="category-product">
        <div class="product-card">
          <%= image_tag product.get_main_image(session[:device]), class: 'product-image' %>
          <div class="product-content">
            <h3><%= product.name %></h3>
            <p><%= product.description %></p>
            <%= link_to  "SEE PRODUCT", category_product_path(@category, product), id: 'bg-black-click', class: 'home-btn' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
