<div class="product-features">
  <div class="features">
    <h3>FEATURES</h3>
    <%= simple_format @product.features, class: "features-content gray-text" %>
  </div>
  <div class="in-the-box">
    <h3>IN THE BOX</h3>
    <ul>
      <% @product.pieces.each do |piece|  %>
        <li class='piece-list'>
          <span class="piece-amount"><%= piece.amount %>x</span> <span class="piece-name gray-text"><%= piece.name_display %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
