<div class="product-photos">
  <div class="photos-column">
    <%= image_tag "product-#{image_folder_name(@product)}/#{session[:device]}/image-gallery-1.jpg", width: '100%' %>
    <%= image_tag "product-#{image_folder_name(@product)}/#{session[:device]}/image-gallery-2.jpg", width: '100%' %>
  </div>
  <div class="main-image-gallery" style="background-image: url('<%= asset_path("product-#{image_folder_name(@product)}/desktop/image-gallery-3.jpg") %>')"></div>
</div>
